logs
*.log

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist-newstyle
.stack-work

# scripts/*.json

*.db

# Added by cargo

/target
